body {
	width: 1200px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#carousel{
	width: 400px;
	height: 300px;
	overflow: hidden;
	border-style: solid;
}

ul {
	width: 2000px;
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
	float: left;
}

img {
	width: 400px;
	height: 300px;
}

/*
.fa {
	color: #c0c0c0;
	position: relative;
	top:120;
	cursor: pointer;
}

.fa-arrow-right {
	position: relative;
    top: 2;
    left: 35;  
}

.fa-arrow-left {
	position: relative;
    top: 2;
    left: 420;
}
*/